body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #282a36 50%, grey 50%);
}

.login-form {
    background-color: #ffffff;
    padding: 50px 40px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 380px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 30px;
    color: #333333;
    font-size: 28px;
    font-weight: 600;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.login-top {
    flex: 1;
    margin-right: 10px;
    padding: 12px 0;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.login-top:hover {
    background-color: #187bcd;
}

.signup-top {
    flex: 1;
    margin-left: 10px;
    padding: 12px 0;
    background-color: #ffffff;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.signup-top:hover {
    background-color: #f0f0f0;
}

.login-form input {
    width: 100%;
    padding: 14px 18px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    transition: 0.3s ease;

}

.login-form input:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 8px rgba(138, 43, 226, 0.5);
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.extra-links {
    text-align: left;
    margin-bottom: 20px;
}

.extra-links a {
    color: #1e90ff;
    font-size: 14px;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

.login-form button[type="submit"] {
    width: 100%;
    padding: 14px 0;
    margin-top: 10px;
    background-color: #1e90ff;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-form button[type="submit"]:hover {
    background-color: grey;
}

.register-text {
    margin-top: 25px;
    font-size: 14px;
    color: #555555;
}

.register-text a {
    color: #1e90ff;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}

@media (max-width: 420px) {
    .login-form {
        width: 90%;
        padding: 40px 20px;
    }

    .top-buttons {
        flex-direction: column;
    }

    .login-top,
    .signup-top {
        margin: 5px 0;
    }
}