.foodGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
  justify-items: center; 
  padding: 40px 60px;
  background-color: #fffdfb;
}
@media (max-width: 992px) {
  .foodGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .foodGrid {
    grid-template-columns: 1fr;
  }
}
